.vs
OverloadingTask/bin
OverloadingTask/obj
OverloadingTask/OverloadingTask.csproj
MethoodOverloading/bin
MethoodOverloading/obj
MethoodOverloading/MethoodOverloading.csproj
RectangleProject/bin
RectangleProject/obj
RectangleProject/RectangleProject.csproj
ShapeInterface/bin
ShapeInterface/obj
ShapeInterface/ShapeInterface.csproj
VeichleTask/bin
VeichleTask/obj
VeichleTask/VeichleTask.csproj
PersonTask/bin
PersonTask/obj
PersonTask/PersonTask.csproj
AGI_Tasks_Day2.sln